openapi: 3.0.4
components:
  schemas:
    ValidationErrorResponse:
      type: object
      properties:
        errors:
          type: array
          description: Identifies the validation errors.
          items:
            type: object
            properties:
              attribute:
                description: Indicates which attributes in the request were invalid.
                example: email
              details:
                description: Specifies the invalid values.
                example: user@example.com
              message:
                description: Explains the validation error.
                example: User with email already exists
              uri:
                description: Specifies the unique resource indicator of the error.
        message:
          description: Validation failure
          example: Validation failure
        success:
          description: "False"
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      name: api_key
      in: query
    ApiKeyHeader:
      type: apiKey
      name: api_key
      in: header
info:
  title: MultiSafepay API
  version: "1.0.0"
  contact:
    name: MultiSafepay Integration Team
    url: https://www.multisafepay.com/contact
    email: integration@multisafepay.com
  description: "MultiSafepay's API reference"
paths:
  '/orders':
    $ref: 'paths/orders.yaml'
  '/orders/{psp_id}':
    $ref: 'paths/orders@{psp_id}.yaml'
  '/orders/{order_id}':
    $ref: 'paths/orders@{order_id}.yaml'
  '/orders/{order_id}/cancel':
    $ref: 'paths/orders@{order_id}@cancel.yaml'
  '/orders/{order_id}/capture':
    $ref: 'paths/orders@{order_id}@capture.yaml'
  '/capture/{order_id}':
    $ref: 'paths/capture@{order_id}.yaml'
  '/gateways':
    $ref: 'paths/gateways.yaml'
  '/gateways/{gateway_id}':
    $ref: 'paths/gateways@{gateway_id}.yaml'
  '/issuers/{gateway}':
    $ref: 'paths/issuers@{gateway}.yaml'
  '/recurring/{your_customer_reference}':
    $ref: 'paths/recurring@{your_customer_reference}.yaml'
  '/recurring/{your_customer_reference}/token/{your_token}':
    $ref: 'paths/recurring@{your_customer_reference}@token@{your_token}.yaml'
  '/recurring/{your_customer_reference}/update/{your_token}':
    $ref: 'paths/recurring@{your_customer_reference}@update@{your_token}.yaml'
  '/recurring/{your_customer_reference}/remove/{your_token}':
    $ref: 'paths/recurring@{your_customer_reference}@remove@{your_token}.yaml'
  '/orders/{order_id}/refunds':
    $ref: 'paths/orders@{order_id}@refunds.yaml'
  '/orders/{order_id}/refunds/{refund_id}':
    $ref: 'paths/orders@{order_id}@refunds@{refund_id}.yaml'
  '/orders/{order_id}/files':
    $ref: 'paths/orders@{order_id}@files.yaml'
  '/auth/api_token':
    $ref: 'paths/auth@api_token.yaml'
  '/signup-account':
    $ref: 'paths/signup-account.yaml'
  '/accounts':
    $ref: 'paths/accounts.yaml'
  '/accounts/{account_id}/login-urls':
    $ref: 'paths/accounts@{account_id}@login-urls.yaml'      
  '/accounts/{account_id}/autopayouts/{currency}':
    $ref: 'paths/accounts@{account_id}@autopayouts@{currency}.yaml'
  '/accounts/{account_id}/autopayouts':
    $ref: 'paths/accounts@{account_id}@autopayouts.yaml'
  '/categories':
    $ref: 'paths/categories.yaml'
  '/transactions':
    $ref: 'paths/listtransactions.yaml'
  '/pos/receipt/{order_id}':
    $ref: 'paths/receipt@{order_id}.yaml'
security:
  - ApiKeyQuery: []
servers:
  - url: https://testapi.multisafepay.com/v1/json
    description: Test environment
tags:
  - name: Payments
    description: Create and manage payments.
  - name: Tokens
    description: Manage tokens.
  - name: Refunds
    description: Process refunds.
  - name: Onboard affiliates
    description: Onboard affiliated merchant accounts.
  - name: Manage affiliates
    description: Manage the accounts of affiliated merchants.
  - name: Customers
    description: Create and manage customer profiles.
  - name: Reconciliation
    description: List transactions for your reconciliation processes.
  - name: Point of Sale
    description: Manage your POS transactions.
x-readme:
  explorer-enabled: true
  proxy-enabled: false
  samples-enabled: true
