openapi: 3.0.4
components:
  schemas:
    ValidationErrorResponse:
      type: object
      properties:
        errors:
          description: Identifies the validation errors.
          type: array
          items:
            type: object
            properties:
              attribute:
                description: Indicates which attributes in the request were invalid.
                example: email
              details:
                description: Specifies the invalid values.
                example: user@example.com
              message:
                description: Explains the validation error.
                example: User with email already exists
              uri:
                description: Specifies the unique resource indicator of the error.
        message:
          description: Validation failure
          example: Validation failure
        success:
          type: boolean
          description: "False"
          example: false
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      name: api_key
      in: query
    ApiKeyHeader:
      type: apiKey
      name: api_key
      in: header
info:
  title: MultiSafepay API
  version: 1.0.0
  contact:
    name: MultiSafepay Integration Team
    url: https://www.multisafepay.com/contact
    email: integration@multisafepay.com
  description: "MultiSafepay's API reference"
paths:
  '/orders':
    $ref: './openapi/paths/orders.yaml'
  '/orders/{psp_id}':
    $ref: './openapi/paths/orders@{psp_id}.yaml'
  '/orders/{order_id}':
    $ref: './openapi/paths/orders@{order_id}.yaml'
  '/orders/{order_id}/cancel':
    $ref: './openapi/paths/orders@{order_id}@cancel.yaml'
  '/orders/{order_id}/capture':
    $ref: './openapi/paths/orders@{order_id}@capture.yaml'
  '/capture/{order_id}':
    $ref: './openapi/paths/capture@{order_id}.yaml'
  '/gateways':
    $ref: './openapi/paths/gateways.yaml'
  '/gateways/{gateway_id}':
    $ref: './openapi/paths/gateways@{gateway_id}.yaml'
  '/recurring/{your_customer_reference}':
    $ref: './openapi/paths/recurring@{your_customer_reference}.yaml'
  '/recurring/{your_customer_reference}/token/{your_token}':
    $ref: './openapi/paths/recurring@{your_customer_reference}@token@{your_token}.yaml'
  '/recurring/{your_customer_reference}/update/{your_token}':
    $ref: './openapi/paths/recurring@{your_customer_reference}@update@{your_token}.yaml'
  '/recurring/{your_customer_reference}/remove/{your_token}':
    $ref: './openapi/paths/recurring@{your_customer_reference}@remove@{your_token}.yaml'
  '/payment-methods': 
    $ref: './openapi/paths/payment-methods.yaml'
  '/payment-methods/{payment_method_id}':
    $ref: './openapi/paths/payment-methods@{payment_method_id}.yaml'
  '/pad/orders/{order_id}/onhold':
    $ref: './openapi/paths/pad@orders@{order_id}@onhold.yaml'
  '/pad/orders/{order_id}/autoexpire':
    $ref: './openapi/paths/pad@orders@{order_id}@autoexpire.yaml'
  '/orders/{order_id}/refunds':
    $ref: './openapi/paths/orders@{order_id}@refunds.yaml'
  '/orders/{order_id}/refunds/{refund_id}':
    $ref: './openapi/paths/orders@{order_id}@refunds@{refund_id}.yaml'
  '/orders/{order_id}/files':
    $ref: './openapi/paths/orders@{order_id}@files.yaml'
  '/closing-balances':
    $ref: './openapi/paths/closing-balances.yaml'
  '/sites/{site_id}':
    $ref: './openapi/paths/sites@{site_id}.yaml'
  '/auth/api_token':
    $ref: './openapi/paths/auth@api_token.yaml'
  '/signup-account':
    $ref: './openapi/paths/signup-account.yaml'
  '/accounts':
    $ref: './openapi/paths/accounts.yaml'
  '/accounts/{account_id}/login-urls':
    $ref: './openapi/paths/accounts@{account_id}@login-urls.yaml'      
  '/accounts/{account_id}/autopayouts/{currency}':
    $ref: './openapi/paths/accounts@{account_id}@autopayouts@{currency}.yaml'
  '/accounts/{account_id}/autopayouts':
    $ref: './openapi/paths/accounts@{account_id}@autopayouts.yaml' 
  '/categories':
    $ref: './openapi/paths/categories.yaml'
  '/transactions':
    $ref: './openapi/paths/listtransactions.yaml'
  '/transactions/{transaction_id}':
    $ref: './openapi/paths/transactions@{transaction_id}.yaml'
  '/pos/receipt/{order_id}':
    $ref: './openapi/paths/receipt@{order_id}.yaml'
  '/accounts/{account_id}':
    $ref: './openapi/paths/accounts@{account_id}.yaml'
  '/accounts/{account_id}/balances':
    $ref: './openapi/paths/accounts@{account_id}@balances.yaml'
  '/accounts/{account_id}/bank-accounts':
    $ref: './openapi/paths/accounts@{account_id}@bank-accounts.yaml'
  '/bank-accounts/{bankaccount_id}':
    $ref: './openapi/paths/bank-accounts@{bankaccount_id}.yaml' 
  '/bank-accounts/{bankaccount_id}/payment-links':
    $ref: './openapi/paths/bank-accounts@{bankaccount_id}@payment-links.yaml'
  '/bank-accounts/{bankaccount_id}/bank-statements':
    $ref: './openapi/paths/bank-accounts@{bankaccount_id}@bank-statements.yaml'
  '/bank-statements/{bankstatement_id}':
    $ref: './openapi/paths/bank-statements@{bankstatement_id}.yaml'
  '/accounts/{account_id}/charges':
    $ref: './openapi/paths/accounts@{account_id}@charges.yaml'
  '/accounts/{account_id}/payouts':
    $ref: './openapi/paths/accounts@{account_id}@payouts.yaml'
  '/accounts/{account_id}/sites':
    $ref: './openapi/paths/accounts@{account_id}@sites.yaml'
  '/accounts/{account_id}/ubos':
    $ref: './openapi/paths/accounts@{account_id}@ubos.yaml'
  '/ubos/{ubo_id}':
    $ref: './openapi/paths/ubos@{ubo_id}.yaml'
  '/ubos/{ubo_id}/identitydocs':
    $ref: './openapi/paths/ubos@{ubo_id}@identitydocs.yaml'
  '/identitydocs/{identitydoc_id}':
    $ref: './openapi/paths/identitydocs@{identitydoc_id}.yaml'
security:
  - ApiKeyQuery: []
servers:
  - url: https://testapi.multisafepay.com/v1/json
    description: Test environment
tags:
  - name: Payments
    description: Create and manage payments.
  - name: Tokens
    description: Manage tokens.
  - name: Refunds
    description: Process refunds.
  - name: Onboard affiliates
    description: Onboard affiliated merchant accounts.
  - name: Manage affiliates
    description: Manage the accounts of affiliated merchants.
  - name: Customers
    description: Create and manage customer profiles.
  - name: Reconciliation
    description: List transactions for your reconciliation processes.
  - name: My account
    description: Manage your account.
x-readme:
  explorer-enabled: true
  proxy-enabled: false
  samples-enabled: true
