{{ define "main"}}
<div class="container">
    <div class="row">
        <div class="col-md-12 list-title">
            <h1>{{ .Title }}</h1>
            <hr class="separator">
            <p> {{ .Content }} </p>
        </div>
    </div>
    <div class="row pb-5">
        {{ range .Sections }}
        {{ if ne .Params.tags "hidden"}}
        <a class="col-lg-3 col-md-4 col-sm-6 my-3 no-decoration" {{ if eq ( .Params.type ) ("Community integration") }}target="_blank"{{ end }} href="{{ if eq ( .Params.type ) ("Community integration") }}{{ .Params.redirect_show_info.url }}{{ else }}{{ .Permalink }}{{ end }}" >
       		<div class="block-item py-4">
               	<div class="row">
                {{ with .Params.logo }}
             		<img class="img-fluid mx-auto" style="width: 60px" src="{{ . }}" />
                {{ end }}
          		</div>
         	    <div class="row pt-4">
       		       	<h4 class="mx-auto">{{ .Params.title_short }}</h4>
                </div>
                <div class="row py-1">
                    <h5 class="mx-auto" style="color: grey;">{{ .Params.type }}</h5>
                </div>
			</div>
		</a>
        {{ end }}
        {{ end }}
    </div>
</div>
{{ end }}
