
  <div class="container">
    <div class="row footer-list">
      <div class="col-12 col-md-3">
        <ul>
          <li><h4 class="footer-title-list">Overview</h4></li>
          <li><a href="https://docs.multisafepay.com/payment-methods/">Payment methods</a></li>
          <li><a href="https://docs.multisafepay.com/payment-features/">Payment features</a></li>
          <li><a href="https://docs.multisafepay.com/integrations/ready-made/">Ready-made integrations</a></li>
          <li><a href="https://docs.multisafepay.com/accounting/">Accounting solutions</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
        <ul>
          <li><h4 class="footer-title-list">Resources</h4></li>
          <li><a href="https://docs.multisafepay.com/getting-started/">Getting started</a></li>
          <li><a href="https://www.multisafepay.com/support/">Support</a></li>
          <li><a href="https://testmerchant.multisafepay.com/signup">Test account</a></li>
          <li><a href="https://status.multisafepay.com/">Status page</a></li>
          <li><a href="https://github.com/MultiSafepay/docs/tree/master/content">GitHub</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
        <ul>
          <li><h4 class="footer-title-list">MultiSafepay</h4></li>
          <li><a href="https://www.multisafepay.com/company/what-we-do">About us</a></li>
          <li><a href="https://www.multisafepay.com/">Merchants</a></li>
          <li><a href="https://www.multisafepay.com/company/our-business-partners">Partners</a></li>
          <li><a href="https://www.multisafepay.com/blog/">Blog</a></li>
          <li><a href="https://www.multisafepay.com/careers/">Careers</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
        <ul>
          <li><h4 class="footer-title-list">Contact</h4></li>
          <li><a href="https://www.multisafepay.com/contact/merchant-support">Contact</a></li>
          <li><a href="https://www.multisafepay.com/contact" target="_blank">Newsletter</a></li>
        </ul>
      </div>
    </div>
  </div>
