{{ if (.Page.Scratch.Get "mermaid") }}
<script src="{{ "js/mermaid.min.js" | relURL }}"></script>

<div id="mermaid-modal">
    <!-- The Close Button -->
    <span id="mermaid-modal-close">&times;</span>
    <!-- Modal Content (The Image) -->
    <div id="mermaid-modal-content"> </div>
</div>

<script>
    let onMermaidClick = (container) => {
        let modal = document.querySelector("#mermaid-modal");
        let contentContainer = document.querySelector("#mermaid-modal-content");
        if(modal && contentContainer) 
        {
            modal.style.display = 'block';
            contentContainer.innerHTML = container.innerHTML;
        }

    };
    
    let hideMermaidModal = () => {
        let modal = document.querySelector("#mermaid-modal");
        if(modal) 
        {
            modal.style.display = 'none';
            let contentContainer = document.querySelector("#mermaid-modal-content");
            if(contentContainer) 
            {
                contentContainer.innerHTML = '';
            }
        }
    };
    
    window.addEventListener("load",  () => {
        mermaid.initialize({ startOnLoad: true });
        
        document.querySelectorAll(".mermaid").forEach(mermaid =>  {
            mermaid.addEventListener("click", () => onMermaidClick(mermaid))
        });

        document.querySelector("#mermaid-modal-close").addEventListener("click", hideMermaidModal)

        document.addEventListener('keyup', hideMermaidModal);
    });

    </script>
{{end}}