{{ if (.Page.Scratch.Get "mermaid") }}
<script src="{{ "js/mermaid.min.js" | relURL }}"></script>

<div id="mermaid-modal">
    <span id="mermaid-modal-close">&times;</span>
    <div id="mermaid-modal-content"></div>
    <div id="mermaid-modal-caption"></div>
</div>

<script>
    let onMermaidClick = (container) => {
        let modal = document.querySelector("#mermaid-modal");
        let contentContainer = document.querySelector("#mermaid-modal-content");
        let contentCaption = document.querySelector("#mermaid-modal-caption");

        if(modal && contentContainer && contentCaption) 
        {
            modal.style.display = "block";
            contentContainer.innerHTML = container.innerHTML;
            contentCaption.innerHTML = container.getAttribute("aria-label") ?? "";
        }

    };
    
    let hideMermaidModal = () => {
        let modal = document.querySelector("#mermaid-modal");
        if(modal) 
        {
            modal.style.display = "none";
            let contentContainer = document.querySelector("#mermaid-modal-content");
            if(contentContainer) 
            {
                contentContainer.innerHTML = "";
            }
        }
    };
    
    window.addEventListener("load",  () => {
        mermaid.initialize({ startOnLoad: true });
        
        document.querySelectorAll(".mermaid").forEach(mermaid =>  {
            mermaid.addEventListener("click", () => onMermaidClick(mermaid))
        });

        document.querySelector("#mermaid-modal-close").addEventListener("click", hideMermaidModal)

        document.addEventListener("keyup", hideMermaidModal);
    });

    </script>
{{end}}