<section id="whats-new-block" class="row pb-5 pt-4">
    <div class="col-md-12 pb-4">
        <h2 class="whats-new-header pb-4">What's new?</h2>
    </div>
    <div class="col-md-6 pb-4">
        <img class="whats-new-image" src="/img/mage_one_partner.png" alt="PLACE HOLDER FOR BLIND PPL">
    </div>
    <div class="col-md-6 pb-4">
        <h3 class="pb-2">
            Mage One
        </h3>
        <p class="pb-2">
            MultiSafepay will continue to provide Magento 1 support for its merchants after June 1st in collaboration with <a href="https://my.mage-one.com/register/79176d9e0978f9baaf605ff34dc4a027">Mage One</a>. Please contact us at <a href="mailto:integration@multisafepay.com">integration@multisafepay.com</a> for more info.
        </p>
    </div>
</section>