<section id="whats-new-block" class="row pb-5 pt-4">
    <div class="col-md-12 pb-4">
        <h2 class="whats-new-header pb-4">What's new?</h2>
    </div>
    <div class="col-md-6 pb-4">
        <img class="whats-new-image" src="https://via.placeholder.com/1280x720" alt="PLACE HOLDER FOR BLIND PPL">
    </div>
    <div class="col-md-6 pb-4">
        <h3 class="pb-2">
            TITLE POST
        </h3>
        <p class="pb-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus finibus arcu at velit imperdiet tincidunt. Quisque eget accumsan massa, ac vehicula metus. Nulla at ullamcorper libero. In pulvinar arcu nunc, vel porttitor lorem eleifend non. Phasellus quis dui id elit laoreet iaculis at vel eros. Quisque vitae ex sit amet purus gravida condimentum in non urna. Sed sed urna sagittis, sagittis lorem id, tristique erat. Aliquam mattis nunc enim, quis ullamcorper magna pharetra placerat. Donec condimentum orci ut orci viverra mattis.
        </p>
        <a class="primary px-4" href="URL HERE">
            NAME BUTTON
        </a>
    </div>
</section>