{{ if or (eq (.Get "type") ("standard")) (eq (.Get "type") ("")) }}
<ol>
	<li>Sign in to your <a href="https://merchant.multisafepay.com">MultiSafepay dashboard</a>.</li>
	<li>Go to <strong>Settings</strong>.</li>
	<li>To activate {{ with .Get "name" }}{{ . }}{{ else }}the payment method{{ end }} for:</li>
	<ul>
		<Li>All your websites, go to <strong>Payment methods</strong>.</li>
		<Li>A specific website, go to <strong>Website settings</strong>, and click the relevant website.</Li>
	</ul>
	<li>Select the checkbox for {{ with .Get "name" }}{{ . }}{{ else }}the relevant payment method{{ end }}.</li>
	<li>Click <strong>Save changes</strong>.</li>
</ol>
{{ else }}
<ol>
	<li>Email a request to activate {{ with .Get "name" }}{{ . }}{{ else }}the payment method{{ end }} to <a href="mailto:sales@multisafepay.com">sales@multisafepay.com</a></li>
	<br>
	<p>
		Include the following information:
		<ul>
			<li>Average, minimum, and maximum transaction amount</li>
			<li>Annual turnover in credit card, debit card, and direct debit payments respectively – Specify an amount for <strong>each</strong> of these types of payment, even if is a zero (0) amount.</li>
		</ul>
	</p>
	<li>The Risk Team checks your eligibilty and if approved, activates {{ with .Get "name" }}{{ . }}{{ else }}the payment method{{ end }} for your account.</li>
</ol>
{{ end }}