name: Delete branch
on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
jobs:
  delete-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Delete branch
        run: git push --delete origin ${{ inputs.branch }} 