name: Check spelling weekly
on:
  schedule:
  - cron: "0 3 * * 3"

  workflow_dispatch:

jobs:
  spellcheck:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
    # The checkout step
    - uses: actions/checkout@v4
    - uses: rojopolis/spellcheck-github-actions@0.27.0
      name: Spellcheck